h1{color: rgb(40, 3, 75); font: size 12px ;}
    p{background-color: rgb(209, 173, 241);}  
    body{background-color: rgb(234, 189, 255);}
    li{border: rgb(124, 42, 150); text-align: justify;}
    #principal{font-size: 50px; color: rgb(81, 66, 105);}
    #tabela{background-color: rgb(146, 65, 221);}